<div class="item">
    <div class="media">
        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/<%- blog.thumbnail %>" alt="image">
        <div class="media-body">
            <h3 class="title mb-1"><a href="/blogs/<%- blog.slug%>"><%- blog.title %></a></h3>
            <div class="meta mb-1"><span class="date">Published on <%- blog.publishedOn %></span><span class="time">5 min read</span><!-- <span class="comment"><a href="#">8 comments</a></span> --></div>
            <div class="intro"><%- blog.description%>...</div>
            <a class="more-link" href="/blogs/<%- blog.slug%>">Read more &rarr;</a>
        </div>
    </div>
</div>