
<section class="blog-list px-3 py-5 p-md-5 mt-5">
    <div class="container">	
       
        
<% blogs.forEach(blog=> { %>

<div class="item mb-5">
    <div class="media">
        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="<%- blog.thumbnail  %> " alt="image">
        <div class="media-body">

            <h3 class="title mb-1"><a href="<%- blog.slug %>"><%- blog.title %></a></h3>
            <div class="meta mb-1"><span class="date">Published <%- blog.publishedOn.toLocaleDateString() %></span><span class="time">5 min read</span><!-- <span class="comment"><a href="#">8 comments</a></span> --></div>
            <div class="intro"><%- blog.description %>...</div>
            <a class="more-link" href="<%- blog.slug %>">Read more &rarr;</a>
            <a class="btn btn-link" href="/admin/edit/<%- blog.slug %>">Edit</a>
            
            <a type="submit" class="btn btn-link" href="/admin/delete/<%- blog.slug %> ">
          
            Delete</a>
        </div>
    </div>
</div>
<% }) %>
        
        
        
    </div>

    
</section>


