<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">


<header class="blog-post-header">
    <h2 class="title mb-2"><%- blog.title %>  </h2>
    
    <div class="meta mb-3"><span class="date">Published <%- blog.publishedOn.toLocaleDateString() || '3 months ago' %></span><span class="time">5 min read</span><span class="comment"><i onclick="like(this)" class="fa fa-thumbs-up" ></i></span><span id="likes"><%- blog.votes || 0 %> likes</span></div>
    <script>
        function like(e){
            const vote=document.getElementById("likes")
            // e.classList.toggle("fa-thumbs-up")
            const likes=vote.innerText.split(" ")[0]
            // vote.innerText=`${parseInt(likes)+1}`
            fetch(`/blogs${window.location.pathname}`,{method:"POST",credentials:'include'}).then((res)=>res.json()).then((data)=>{vote.innerText=`${data.likes} likes`;console.log(data)})
        }
    </script>
</header>

<div class="blog-post-body">
    <figure class="blog-banner">
        <a href="#"><img class="img-fluid" src="<%- blog.poster %>"  alt="image"></a>
        
    </figure>
    <p><%- blog.post %></p>
</div>

</div>
</article>